{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'Admin/login.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div class="wrap">
            <h2>Log in</h2>
            <div id="data">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="loginData">
                        <input type="text" placeholder="E-mail" name="email">
                    </div>
                    <div class="loginData">
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <input type="submit" class="loginBtn" value="Login">
                </form>
            </div>
        </div>

        <script src="{% static 'Admin/loginpage.js' %}"></script>
        <script>
            var message = '{{ message }}';
            window.onload = viewMessage(message);
        </script>
    </body>
</html>