{% extends 'userpage.html' %}

{% block title %}
    Change Password
{% endblock title %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'User/changepwd.css' %}">

    <main class="main_content">
        <div class="container">

            <h2>Change Password</h2>
            <form id="passwordForm" method="post">
                {% csrf_token %}

                <label for="oldPassword">Old Password</label>
                <input type="password" class="inputs" id="oldPassword" name="oldPassword" required>
                
                <label for="newPassword">New Password</label>
                <input type="password" class="inputs" id="newPassword" name="newPassword" required>
                
                <label for="confPassword">Confirm New Password</label>
                <input type="password" class="inputs" id="confPassword" name="confPassword" required>

                <input type="submit" value="Submit">

            </form>

        </div>
    </main>
    <script src="{% static 'User/changepwd.js' %}"></script>
    <script>
        var message = '{{message}}';
        window.onload = viewMessage(message);
    </script>

{% endblock content %}